body {
    background: #ffffff;
    font-family: 'Press Start 2P', sans-serif;
    color: rgba(255, 0, 0, 0.8);
    margin: 0;
    padding: 0;
}

header {
    background: #091833;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff0000;
    margin: 0;
}

main {
    padding: 20px;
}

.player-list {
    list-style-type: none;
    padding: 0;
}

.player-item {
    background: #091833;
    border: 2px solid #ea00d9;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.player-item a {
    color: #0abdc6;
    text-decoration: none;
    display: block;
}

.player-item a:hover {
    color: #ea00d9;
}

.player-info, .player-stats {
    background: #091833;
    border: 2px solid #ea00d9;
    margin: 20px 0;
    padding: 20px;
}
